@forward "styles";
@use "./styles/helpers/media" as media;
@use "./styles/helpers/factory" as f;

body {
  overflow-x: hidden;
}

%list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-background {
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 25%;

  @include media.ScreenMediumUp {
    background-image: url(/images/bg-header-desktop.png);
  }
}

.header {
  min-height: 45vh;
  @include f.Flex(1rem);
  flex-direction: column-reverse;
  align-items: center;
  background-image: url(/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @include media.ScreenMediumUp {
    background-image: url(/images/bg-header-desktop.png);
  }
}

.brand {
  margin-block-end: 4rem;
  width: 128px;
  aspect-ratio: 1;
  background-image: url(/images/logo.svg);
  background-size: cover;

  &_small {
    width: 72px;
  }
}

.desc {
  &__text {
    margin-inline: auto;
    @include media.ScreenMediumUp {
      max-width: 60%;
    }
  }
}

@mixin SectionWithDownload {
  @include f.Flex(1rem);
  flex-direction: column;
  align-items: center;

  &__action {
    margin-block: 2rem;
  }
}

.overview {
  @include SectionWithDownload;
}

.download-group {
  display: grid;
  gap: 1rem;
  grid-auto-flow: row;
  width: 100%;

  @include media.ScreenSmallUp {
    grid-auto-flow: column;
    width: max-content;
  }
}

.feature-intro {
  @include f.Flex(1rem);
  flex-direction: column;
}

.feature-intro-desc {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  margin-top: 4rem;
  @include media.ScreenMediumDown {
    margin-inline: var(--size-fluid-1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > img {
    object-fit: contain;
    width: 100%;
  }

  &__content {
    @include f.Flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: 1rem;

    @include media.ScreenMediumOnly {
      margin-inline: unset;
    }

    @include media.ScreenMediumUp {
      margin-inline: clamp(1rem, 5vw, 10rem);
    }
  }

  &__group {
    @include f.Flex(0.5rem);
    flex-direction: column;
    @include media.ScreenLargeDown {
      align-items: center;
      text-align: center;
    }
  }
}

.feature-desc {
  @include f.Flex(1rem);
  flex-direction: column;
  justify-content: center;
}

.desc-visual-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.desc-visual {
  @include f.Flex(1rem);
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  & > img {
    object-fit: contain;
    width: 40px;
    height: 40px;
    object-position: center;
  }
}

.affiliate-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: center;
  gap: 1rem;

  @include media.ScreenSmallDown {
    display: flex;
    flex-direction: column;
  }

  & > * {
    padding: 0.5rem;
  }

  & img {
    object-fit: contain;
    width: 160px;
  }
}

.info-desc {
  @include SectionWithDownload;
}

.footer {
  background-color: hsl(220 17% 98%);
}

.footer-nav {
  @include f.Flex(2rem);
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  margin-inline: clamp(5rem, 7vw, 7.5rem);

  &__brand {
    margin-inline-end: 2rem;
  }

  @include media.ScreenMediumUp {
    flex-direction: row;
  }

  &__links {
    flex: 1;

    @include media.ScreenMediumUp {
      margin-inline: 4rem;
    }
  }
}

.brand-reset {
  margin: 0.25rem;
}

.footnav-links {
  @extend %list-reset;
  @include f.Flex(1rem);
  flex-direction: column;
  align-items: center;

  & a {
    text-decoration: none;
    color: var(--clr-n-1);
    line-height: 2;
    font-weight: 600;
  }

  & a:hover {
    color: var(--clr-primary-2);
  }

  @include media.ScreenMediumUp {
    display: block;
    columns: 16em auto;
  }
}

.footnav-links-ext {
  @extend %list-reset;
  @include f.Flex(1.25rem);
  align-items: center;

  & li {
    display: grid;
    place-items: center;
  }

  & a {
    color: var(--clr-n-2);
  }

  & a[aria-labelledby="twitter-link"]:hover {
    color: var(--clr-primary-2);
  }

  &__icon {
    font-size: 24px;
  }
}
