@layer components {
  %heading {
    font-weight: 600;
    color: var(--clr-n-2);
  }

  .primary-heading {
    @extend %heading;
    font-size: clamp(36px, 5vw, 48px);
    letter-spacing: -0.05em;
  }

  .sub-heading-1 {
    @extend %heading;
    font-size: clamp(28px, 4vw, 32px);
  }

  .sub-heading-2 {
    @extend %heading;
    font-size: clamp(18px, 3vw, 20px);
  }

  .body-copy {
    font-size: clamp(15px, 3vw, 18px);
    color: var(--clr-n-1);
    line-height: 1.5;
  }
}

@layer utils {
  .text-center {
    text-align: center;
  }
}
